
Express/fileUpload/node_modules/

Express/musicWeb/node_modules/

*/node_modules/
*/**/node_modules/
*/**/**/node_modules/
*/**/**/**/node_modules/
*/**/**/**/**/node_modules/
*/**/*.log

spider/cups-download/img/*.jpg
spider/cups-download/img/*.png
